@model DAL.Models.Aula

@{
    ViewData["Title"] = "Details";
}

<h1 localize-content>@ViewData["Title"]</h1>

<div>
    <h4 localize-content>Lesson</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" localize-content>
            @Html.DisplayNameFor(model => model.NumeroAula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroAula)
        </dd>
        <dt class="col-sm-2" localize-content>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2" localize-content>
            @Html.DisplayNameFor(model => model.Video)
        </dt>
        <dt class="col-sm-2" localize-content>
            @Html.DisplayNameFor(model => model.MaterialApoio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Video)
        </dd>
        <dt class="col-sm-2" localize-content>
            @Html.DisplayNameFor(model => model.Modulo.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modulo.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" localize-content>Edit</a> |
    <a asp-controller="Cursos" asp-action="Index" localize-content>Back to Courses</a>
</div>
