@model IEnumerable<DAL.Models.Aula>

@{
    ViewData["Title"] = "Lessons";
}

<h1 localize-content>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" localize-content>Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th localize-content>
                @Html.DisplayNameFor(model => model.NumeroAula)
            </th>
            <th localize-content>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th localize-content>
                @Html.DisplayNameFor(model => model.Video)
            </th>
            <th localize-content>
                @Html.DisplayNameFor(model => model.MaterialApoio)
            </th>
            <th localize-content>
                Course
            </th>
            <th localize-content>
                Module
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroAula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Video)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialApoio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modulo.Curso.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modulo.Descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" localize-content>Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" localize-content>Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" localize-content>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


