@model DAL.Models.Avaliacao
@{
    Layout = "_LayoutUpFirst";
    ViewData["Title"] = "Index";
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}

<main class="othersPages" role="main">
    <section class="questionario introducao">
        <div class="containerMenor">
            <h1>@Model.Descricao</h1>
            @*<h2><span class="highlight">@Model.Modulo.Curso.Nome</span><span class="highlight ml-4">@Model.Modulo.Descricao</span></h2>*@
            @*<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>*@

            <form asp-action="Questionario">
                @*<input asp-for=@Model.Aluno.Id hidden>*@
                <input asp-for=@Model.Id hidden>  @*Id da avaliacao*@
                <input asp-for=@ViewData["AlunoId"] hidden>
                <input asp-for=@ViewData["CursoId"] hidden>
                <input asp-for=@ViewData["ModuloId"] hidden>

                <input asp-for=@culture hidden>

                @if (Model != null)
                {
                    @for (int p = 0; p < Model.Perguntas.Count(); p++)
                    {
                        <div>
                            <h3 class="pergunta shadow" style="text-align: left">@Model.Perguntas[p].Descricao</h3>
                        </div>
                        <div class="mb-3">
                            @for (int r = 0; r < Model.Perguntas[p].Respostas.Count(); r++)
                            {
                                <div class="ml-3">
                                    <input class='resp @Html.Raw(Model.Perguntas[p].Respostas[r].Correta ? "corr" : "")' type='radio' name='@p' />
                                    @Model.Perguntas[p].Respostas[r].Descricao
                                    <span class="spanResp" hidden>@Html.Raw(Model.Perguntas[p].Respostas[r].Correta ? "*" : "")</span>
                                </div>
                            }
                        </div>

                    }
                }

                <a id='showanswer1'></a>

                <div class="containerMenor bt_questionario">
                    @*<div>
                            <input id="mResp" type="checkbox" localize-content />
                            <label for="mResp">Mostrar Respostas Corretas</label>
                        </div>*@
                    <button type="button" onclick="Enviar()" class="btn-upf-action float-right" localize-content>Submit</button>
                </div>
            </form>

        </div>
    </section>

    <section class="comoFunciona">
        <div class="container">
            <div class="row">
                <h2>Como funciona</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
            </div>
            <div class="row">
                <div class="col-sm boxComoUsar iconAlvo">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod  delenit augue duis dolore te.</p>
                </div>
                <div class="col-sm boxComoUsar iconGrafico">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod  delenit augue duis dolore te.</p>
                </div>
                <div class="col-sm boxComoUsar iconNote">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod  delenit augue duis dolore te.</p>
                </div>
            </div>
            <hr>
        </div>
    </section>
</main>

<!-- Modal -->
<div class="modal fade" id="resultado" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" localize-content>Evaluation Result</h5>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
            <div class="modal-body" localize-content>
                <h1 id="nota"></h1> <h6 id="mensagemNota" localize-content></h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" localize-content>Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

@*<script src="~/lib/jquery/jquery.min.js"></script>*@
<script>
    $(document).ready(function () {
        $('#resultado').on('hidden.bs.modal', function (e) {
            // Redirecionar para sala de aulas
            window.location.href = "/pt-br/salaAulas?alunoId=" + $("#ViewData_AlunoId_").attr("value") + "&cursoId=" + $("#ViewData_CursoId_").attr("value");
        });
    });
    function SetResposta(id, value) {
        document.getElementById(id).value = value;
    };

    function Enviar() {
        var corretas = 0;
        var perguntas = $('.pergunta').length;
        var respondidas = 0;
        var nota = 0;

        $(".resp").each(function (index) {
            if ($(this).prop('checked')) {
                respondidas++;
            }
        });

        if (respondidas == perguntas) {
            $(".resp.corr").each(function (index) {
                if ($(this).prop('checked')) {
                    corretas++;
                };
            });
            nota = (corretas * 10 / perguntas).toFixed(1).replace(".", ",");

            var url = '/' + $("#culture").attr("value") + '/Home/UpdateNota/';
            var dados = { alunoId: $("#ViewData_AlunoId_").attr("value"), moduloId: $("#ViewData_ModuloId_").attr("value"), cursoId: $("#ViewData_CursoId_").attr("value"), valor: nota };

            $.post(url, dados,
                function (returnedData) {
                    console.log(returnedData);
                    if ($("#culture").attr("value") == 'en') {
                        $('#nota').text('Score ' + nota);
                    } else {
                        $('#nota').text('Nota ' + nota);
                    };

                    if (returnedData.aprovado) { // Aprovado
                        if ($("#culture").attr("value") == 'en') { // Inglês
                            if (returnedData.haMaisModulos) { // Há mais módulos
                                $('#mensagemNota').text('You have been approved for the next course module.');
                            } else { // Não há mais módulos
                                $('#mensagemNota').text('You have completed the course.');
                            }
                        } else { // Português
                            if (returnedData.haMaisModulos) { // Há mais módulos
                                $('#mensagemNota').text('Você foi aprovado para o próximo módulo do curso.');
                            } else { // Não há mais módulos
                                $('#mensagemNota').text('Você concluiu o curso.');
                            }
                        }
                    } else { // Reprovado
                        if ($("#culture").attr("value") == 'en') { // Inglês
                            if (returnedData.haMaisModulos) { // Há mais módulos
                                $('#mensagemNota').text('You have not reached the grade required to access the next module.');
                            } else { // Não há mais módulos
                                $('#mensagemNota').text('You have not reached the grade required to complete the course.');
                            }
                        } else { // Português
                            if (returnedData.haMaisModulos) { // Há mais módulos
                                $('#mensagemNota').text('Você não atingiu a nota necessária para acessar o próximo módulo.');
                            } else { // Não há mais módulos
                                $('#mensagemNota').text('Você não atingiu a nota necessária para concluir o curso.');
                            }
                        }
                    };

                    $('#resultado').modal();
                }, "json"
            );
        } else {
            alert("Responda todas as questões !");
        }
    };

    $("#mResp").click(function (obj) {
        if ($(obj.target).prop("checked")) {
            $(".spanResp").each(function (index) { $(this).removeAttr('hidden'); });
        } else {
            $(".spanResp").each(function (index) { $(this).attr('hidden', true); });
        };
    });

</script>
