@model DAL.Models.Configuracao

@{
    ViewData["Title"] = "Details";
}

<h1 localize-content>@ViewData["Title"]</h1>

<div>
    <h4 localize-content>Settings</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" localize-content>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Logo)
        </dd>
        <dt class="col-sm-2" localize-content>
            @Html.DisplayNameFor(model => model.NotaDeCorte)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NotaDeCorte)
        </dd>
        <dt class="col-sm-2" localize-content>
            @Html.DisplayNameFor(model => model.CabecalhoTexto1_Index)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CabecalhoTexto1_Index)
        </dd>
        <dt class="col-sm-2" localize-content>
            @Html.DisplayNameFor(model => model.Texto1_Index)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Texto1_Index)
        </dd>

        <dt class="col-sm-2" localize-content>
            @Html.DisplayNameFor(model => model.Video_Index)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Video_Index)
        </dd>
        <dt class="col-sm-2" localize-content>
            @Html.DisplayNameFor(model => model.CabecalhoTexto2_Index)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CabecalhoTexto2_Index)
        </dd>
        <dt class="col-sm-2" localize-content>
            @Html.DisplayNameFor(model => model.Texto2_Index)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Texto2_Index)
        </dd>
        <dt class="col-sm-2" localize-content>
            @Html.DisplayNameFor(model => model.CabecalhoTexto3_Index)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CabecalhoTexto3_Index)
        </dd>
        <dt class="col-sm-2" localize-content>
            @Html.DisplayNameFor(model => model.Texto3_Index)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Texto3_Index)
        </dd>
        <dt class="col-sm-2" localize-content>
            @Html.DisplayNameFor(model => model.TextoAlvo_Index)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TextoAlvo_Index)
        </dd>
        <dt class="col-sm-2" localize-content>
            @Html.DisplayNameFor(model => model.TextoGrafico_Index)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TextoGrafico_Index)
        </dd>
        <dt class="col-sm-2" localize-content>
            @Html.DisplayNameFor(model => model.TextoComputador_Index)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TextoComputador_Index)
        </dd>
        <dt class="col-sm-2" localize-content>
            @Html.DisplayNameFor(model => model.EnderecoLinha1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoLinha1)
        </dd>
        <dt class="col-sm-2" localize-content>
            @Html.DisplayNameFor(model => model.EnderecoLinha2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoLinha2)
        </dd>
        <dt class="col-sm-2" localize-content>
            @Html.DisplayNameFor(model => model.EnderecoLinha3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoLinha3)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id"  localize-content>Edit</a> |*@
    <a asp-action="Index" localize-content>Back to List</a>
</div>

@*<script src="~/lib/jquery/jquery.min.js"></script>*@
