@model IEnumerable<DAL.Models.Configuracao>

@{
    ViewData["Title"] = "Settings";
}

<h1 localize-content>@ViewData["Title"]</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th localize-content>
                @Html.DisplayNameFor(model => model.CabecalhoTexto1_Index)
            </th>
            <th localize-content>
                @Html.DisplayNameFor(model => model.Texto1_Index)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CabecalhoTexto1_Index)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Texto1_Index)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" localize-content>Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" localize-content>Details</a> 
                @*<a asp-action="Delete" asp-route-id="@item.Id" localize-content>Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
