@model IEnumerable<DAL.Models.Desconto>

@{
    ViewData["Title"] = "Discounts";
}

<h1 localize-content>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">@Localizer.Text("Create New")</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer.Text(Html.DisplayNameFor(model => model.Descricao))
            </th>
            <th>
                @Localizer.Text(Html.DisplayNameFor(model => model.Valor))
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" localize-content>Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" localize-content>Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" localize-content>Delete</a> 
                    @*<a asp-action="" onclick="GerarCupom(@item.Id)" localize-content>Generate Coupon</a>*@
                    <button class="btn btn-primary ml-5" onclick="GerarCupom(@item.Valor)" localize-content>Generate Coupon</button>

                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function GerarCupom(valor){
        //alert(id);
        var url = '/pt-br/Descontos/GetCupom/';
        var dados = { percentualDesconto: valor};

        $.get(url, dados,
            function (returnedData) {
                alert(returnedData.codigo);
                //console.log(returnedData);
            }
        );
    }
</script>