@model IEnumerable<DAL.Models.PerguntaAvaliacao>

@{
    ViewData["Title"] = "Questions";
}

<h1 localize-content>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" localize-content>Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th localize-content>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th localize-content>Answers</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @{
                    foreach (var resposta in item.Respostas)
                    {
                        @*@modulo.Curso.Id @: @modulo.Descricao <br />*@
                        @resposta.Descricao <br /><br />
                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" localize-content>Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" localize-content>Details</a> |
                <a asp-controller="RespostasAvaliacao" asp-action="Create" asp-route-perguntaId="@item.Id" localize-content localize-content>Add Answer</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" localize-content>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
