@model IEnumerable<DAL.Models.CursoAluno>

@{
    ViewData["Title"] = "Enrollments";
}

<h1 localize-content>@ViewData["Title"]</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th localize-content>
                @Html.DisplayNameFor(model => model.Aluno)
            </th>
            <th localize-content>
                @Html.DisplayNameFor(model => model.Aluno.Email)
            </th>
            <th localize-content>
                @Html.DisplayNameFor(model => model.Aluno.WhatsApp)
            </th>
            <th localize-content>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th localize-content>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th localize-content>
                @Html.DisplayNameFor(model => model.Liberado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aluno.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aluno.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aluno.WhatsApp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Liberado)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
