@using DAL.Models
@using Web.ViewModels
@model List<CursoVM>

@{
    var checkoutIds = ViewData["CheckoutIds"] as List<string>;
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}

<div class="row">
    @for (int i2 = 0; i2 < 3 - Model.Count(); i2++)
    {
        <div class="colunaVazia">
        </div>
    }
    @for (int i = 0; i < Model.Count(); i++)
    {
        <div class="col-md boxPlanos">
            <h2>@Model[i].Curso.Nome</h2>
            <p>@Model[i].Curso.Descricao</p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod  delenit augue duis dolore te.</p>
            <h3>@Localizer.Text("$") @Model[i].Curso.Preco</h3>

            @if (User.Identity.IsAuthenticated)
            {
                <form action="@ViewData["PathProcessarPagamentoMP"]" method="POST">
                    <script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
                            data-preference-id="@Model[i].CheckoutId" data-button-label=@Localizer.Text("Buy") data-elements-color="#a0bf38">
                    </script>
                    <p><a style="font-size: small;" asp-area="" asp-controller="Pagamentos" asp-action="ParametrosTeste" asp-route-culture=@culture localize-content>Test Parameters</a></p>
                </form>
            }
            else
            {
                <div class="m-4">
                    <a class="btn-upf-action" asp-area="Identity" asp-page="/Account/Login" asp-route-culture=@culture localize-content>Buy</a>

                </div>
            }
        </div>
    }
</div>
<style>
    .mercadopago-button {
        background-color: #a0bf38;
        border: solid #85992e 1px;
        padding: 6px 22px;
        border-radius: 4px;
        color: #fff;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        text-decoration: none;
        transition: 0.5s ease;
    }

        .mercadopago-button:hover {
            background-color: #7e9922;
            border-color: #85992e;
            padding: 12px 22px;
            border-radius: 4px;
            color: #fff;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 700;
            text-decoration: none;
            transition: 0.5s ease;
        }
</style>
