@using DAL.Models
@using Web.ViewModels
@using Finbuckle.MultiTenant

@model Web.ViewModels.IndexVM
@{
    Layout = "_LayoutUpFirst";
    ViewData["Title"] = "Home Page";
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
    var tiName = Context.GetMultiTenantContext<TenantInfo>()?.TenantInfo.Name;
}

<main class="home" role="main">
    <section class="intruducao">
        <div class="container">
            <div class="row">
                <div class="col-sm box boxTexto">
                    <article>
                        <h1>@Model.Configuracao.CabecalhoTexto1_Index</h1>
                        <p>@Model.Configuracao.Texto1_Index</p>
                        <div class="embed-responsive embed-responsive-16by9">
                            <video autoplay muted loop controls class="embed-responsive-item" src="@Model.Configuracao.Video_Index" allowfullscreen></video>
                        </div>
                    </article>
                </div>
                <div class="col-sm box boxForm ">
                    @*<h1>@tiName</h1>*@
                    <h2 localize-content>Access our Exclusive Content</h2>
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            @*<input type="text" class="form-control" id="cadNome" aria-describedby="nomeHelp" placeholder="Nome">*@
                            <input asp-for="InputModel.Nome" class="form-control" placeholder=@Localizer.Text( "Name") />
                            <span asp-validation-for="InputModel.Nome" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @*<input type="text" class="form-control" id="cadWhatsapp" aria-describedby="whatsappHelp" placeholder="WhatsApp">*@
                            <input asp-for="InputModel.WhatsApp" class="form-control" placeholder=@Localizer.Text( "WhatsApp") />
                            <span asp-validation-for="InputModel.WhatsApp" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @*<input type="email" class="form-control" id="cadEmail" aria-describedby="emailHelp" placeholder="E-mail">*@
                            <input asp-for="InputModel.Email" class="form-control" placeholder=@Localizer.Text( "Email") />
                            <span asp-validation-for="InputModel.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @*<input type="password" class="form-control" id="cadSenha" placeholder="Senha">*@
                            <input asp-for="InputModel.Password" class="form-control" placeholder=@Localizer.Text( "Password") />
                            <span asp-validation-for="InputModel.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @*<input type="password" class="form-control" id="cadConfirmaSenha" placeholder="Confirme a Senha">*@
                            <input asp-for="InputModel.ConfirmPassword" class="form-control" placeholder=@Localizer.Text( "Confirm Password") />
                            <span asp-validation-for="InputModel.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn-upf-action" localize-content>Register</button>
                    </form>
                </div>

            </div> <!-- CONTAINER  -->
            @*<div class="col-smhalf box boxForm mt-4 offset-lg-2">*@

        </div>
    </section>

    <section class="container planos">
        <h2 localize-content>@Model.Configuracao.CabecalhoTexto2_Index</h2>
        <p>
            @Model.Configuracao.Texto2_Index
            @*Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, cons ectetue*@
        </p>

        @{List<CursoVM> modelo = new List<CursoVM>();}

        @for (int i = 0; i < Model.Cursos.Count(); i += 3)
        {
            modelo.Clear();
            @for (int i2 = 0; i2 < 3; i2++)
            {
                if (i + i2 < Model.Cursos.Count())
                {
                    modelo.Add(new CursoVM { Curso = Model.Cursos[i + i2], CheckoutId = Model.CheckoutIds[i + i2] });
                }
            }

            <partial name="_Plano.cshtml" model="@modelo" />
        }

    </section>

    <section class="comoFunciona">
        <div class="container">
            <div class="row">
                <h2 localize-content>@Model.Configuracao.CabecalhoTexto3_Index</h2>
                @*<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>*@
                <p>@Model.Configuracao.Texto3_Index</p>
            </div>
            <div class="row">
                <div class="col-sm boxComoUsar iconAlvo">
                    @*<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod  delenit augue duis dolore te.</p>*@
                    <p>@Model.Configuracao.TextoAlvo_Index</p>
                </div>
                <div class="col-sm boxComoUsar iconGrafico">
                    @*<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod  delenit augue duis dolore te.</p>*@
                    <p>@Model.Configuracao.TextoGrafico_Index</p>
                </div>
                <div class="col-sm boxComoUsar iconNote">
                    @*<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod  delenit augue duis dolore te.</p>*@
                    <p>@Model.Configuracao.TextoComputador_Index</p>
                </div>
            </div>
            <hr>
        </div>
    </section>
    <section class="testemunhos">
        <partial name="_Testemunhos.cshtml" />
    </section>
    <!--Start of Tawk.to Script-->
    @*<script src="~/js/tawkTo.js"></script>*@
    <script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = '@ViewData["TawkToSrc"]';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    @* MODAL *@
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Gateway de Pagamento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
                    @*<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="PagSeguroLightBox()">PagSeguro</button>*@
                    @*<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="StartCheckoutPagSeguro()">PagSeguro</button>*@
                    @* <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="StartCheckoutMercadoPago()">Mercado Pago</button>*@


                    <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" localize-content>Fechar</button>
                    @*<button type="button" class="btn btn-primary"><a class="text-white" asp-area="" asp-controller="SalaAulas" asp-action="Index" asp-route-culture=@culture>Entrar</a></button>*@
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Cupom Desconto-->
    <div class="modal fade" id="modalDesconto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDescontoLongTitle">Possui um cupom de desconto?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cancelar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Digite o número:</label>
                            <input type="text" class="form-control" id="numeroCupom" onkeyup="CheckEnableOK()">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não, comprar sem Cupom</button>
                    <button id="btnOkDesconto" type="button" class="btn btn-primary" disabled onclick="CheckCupom()">Sim, usar o cupom</button>
                </div>
            </div>
        </div>
    </div>
</main>



@*<script src="~/lib/jquery/jquery.min.js"></script>*@
@*<script type="text/javascript" src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>*@
<script>
    function Hide() {
        $('#myModal').modal('hide');
    };

    function CheckCupom() {
        var url = '/pt-br/Cupons/CheckCupom/';
        var dados = { codigo: $('#numeroCupom').val() };

        $.post(url, dados,
            function (returnedData) {
                switch (returnedData.retorno) {
                    case "naoExiste":
                        alert('Código inválido');
                        break;

                    case "jaUtilizado":
                        alert('Cupom já utilizado');
                        break;

                    case "expirado":
                        alert('Cupom expirado');
                        break;

                    default:
                        $('#modalDesconto').modal('toggle');
                        $('#numeroCupom').val('');
                }
            }
        );
    }

    function CheckEnableOK() {
        if ($('#numeroCupom').val().length > 0) {
            $('#btnOkDesconto').prop('disabled', false);
        } else {
            $('#btnOkDesconto').prop('disabled', true);
        }
    }
    //function StartCheckoutPagSeguro() {
    //    $.ajax({
    //        url: 'https://ws.sandbox.pagseguro.uol.com.br/v2/checkout',
    //        contentType: 'application/x-www-form-urlencoded',
    //        cache: false,
    //        method: 'POST',
    //        dataType: 'json',
    //        data: JSON.stringify({
    //            email: "daniel.smidt@yahoo.com.br",
    //            token: "9925EFC7E5574E0281BE0E0CA865C733",
    //            currency: "BRL",
    //            itemId1: "001",
    //            itemDescription1: "Curso UpFirst",
    //            itemAmount1: "169.90",
    //            itemQuantity1: "1",
    //            reference: "reference=124665c23f7896adff508377925",
    //            senderName: "Natalie",
    //            senderAreaCode: "51",
    //            senderPhone: "991504360",
    //            senderEmail: "c81901614069859047077@sandbox.pagseguro.com.br",
    //            shippingAddressRequired: "true",
    //            extraAmount: "0.00"
    //        }),
    //        success: function (data) {
    //            console.log(data);
    //        }
    //    });


        //$.post("https://ws.sandbox.pagseguro.uol.com.br/v2/checkout", {
        //    email: "daniel.smidt@yahoo.com.br",
        //    token: "9925EFC7E5574E0281BE0E0CA865C733",
        //    currency: "BRL",
        //    itemId1: "001",
        //    itemDescription1: "Curso UpFirst",
        //    itemAmount1: "169.90",
        //    itemQuantity1: "1",
        //    reference: "reference=124665c23f7896adff508377925",
        //    senderName: "Natalie",
        //    senderAreaCode: "51",
        //    senderPhone: "991504360",
        //    senderEmail: "c81901614069859047077@sandbox.pagseguro.com.br",
        //    shippingAddressRequired: "true",
        //    extraAmount: "0.00"

        //})
        //    .done(function (data) {
        //        alert(data);
        //    });
    //};

    //function PagSeguroLightBox() {
    //    //Insira o código de checkout gerado no Passo 1
    //    var code = '8A9CA4D8BBBB190AA43AFFBE57C3ED92';
    //    var callback = {
    //        success: function (transactionCode) {
    //            //Insira os comandos para quando o usuário finalizar o pagamento.
    //            //O código da transação estará na variável "transactionCode"
    //            console.log("Compra feita com sucesso, código de transação: " + transactionCode);
    //        },
    //        abort: function () {
    //            //Insira os comandos para quando o usuário abandonar a tela de pagamento.
    //            console.log("abortado");
    //        }
    //    };
    //    //Chamada do lightbox passando o código de checkout e os comandos para o callback
    //    var isOpenLightbox = PagSeguroLightbox(code, callback);
    //    // Redireciona o comprador, caso o navegador não tenha suporte ao Lightbox
    //    if (!isOpenLightbox) {
    //        location.href = "https://pagseguro.uol.com.br/v2/checkout/payment.html?code=" + code;
    //        console.log("Redirecionamento")
    //    };
    //};
</script>
