@model RetornoPagamentoMP
@{
    ViewData["Title"] = "Payment";
}

<h1 localize-content>@Model.Descricao</h1>
<p></p>
@*<p>External Reference: @Model.external_reference</p>*@
<p>@Localizer.Text("Order Id"): @Model.merchant_order_id</p>
@*<p>Payment Id: @Model.payment_id</p>
<p>Payment Status: @Model.payment_status</p>
<p>Payment Status Detail: @Model.payment_status_detail</p>
<p>Preference Id: @Model.preference_id</p>
<p>Processing Mode: @Model.processing_mode</p>*@










