@model IEnumerable<DAL.Models.Aluno>

@{
    ViewData["Title"] = "Students";
}

<h1  localize-content>@ViewData["Title"]</h1>

<p>
    @*<a asp-action="Create" localize-content>Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th localize-content>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th localize-content>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th localize-content>
                @Html.DisplayNameFor(model => model.WhatsApp)
            </th>
            <th localize-content>
                @Html.DisplayNameFor(model => model.NotaQuestionario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhatsApp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaQuestionario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" localize-content>Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" localize-content>Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" localize-content>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@*<script src="~/lib/jquery/jquery.min.js"></script>*@