@inject Web.Services.HomeConfigService HomeConfigService
<!DOCTYPE html>
<html lang="en">
@{
    string titulo = HomeConfigService.GetTitle().ToString();
    string logoBackground = HomeConfigService.GetLogoBackground();
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Localizer.Text((string)ViewData["Title"]) - @titulo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <!-- GOOGLE FONTS - MONTSERRAT -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <!-- UPFIRST CSS -->
    <link rel="stylesheet" href="~/assets/css/geral.min.css">

    @*<link href="~/lib/jQuery-File-Upload-10.31.0/css/jquery.fileupload.css" rel="stylesheet" />*@
</head>
@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}
<body>

    <header class="mb-3">
        <partial name="_MenuPartial" />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: @logoBackground !important;">
        <div class="container">
            &copy; @DateTime.Now.Year - UpFirst - <a asp-area="" asp-controller="Home" asp-action="Privacy" asp-route-culture=@culture localize-content>Privacy</a>
        </div>
    </footer>

    @* jQuery-File-Upload *@

    @*<script src="~/lib/jQuery-File-Upload-10.31.0/js/vendor/jquery.ui.widget.js" type="text/javascript"></script>
        <script src="~/lib/jQuery-File-Upload-10.31.0/js/jquery.iframe-transport.js" type="text/javascript"></script>
        <script src="~/lib/jQuery-File-Upload-10.31.0/js/jquery.fileupload.js" type="text/javascript"></script>*@


    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/js/site.min.js" asp-append-version="true"></script>*@
    @*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>
