@model IEnumerable<DAL.Models.Cupom>

@{
    ViewData["Title"] = "Coupons";
}

<h1 localize-content>@ViewData["Title"]</h1>

@*<p>
        <a asp-action="Create" localize-content>Create New</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer.Text(Html.DisplayNameFor(model => model.Codigo))
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Validade)
            </th>
            <th>
                @Localizer.Text(Html.DisplayNameFor(model => model.Desconto))
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Validade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desconto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Utilizado)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id" localize-content>Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" localize-content>Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" localize-content>Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
